body{ 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gainsboro;
}
h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:center;
    border-bottom:1cm;
    margin: 2%;
    
}
.Feed {
    display: flexbox;
    background-color:gainsboro;
    margin: 2px;
    margin-top: 10px;
}
.Photo{
    Background-color:white;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    width:550px;
    height:470px;
    border-radius: 2%;
}
img{
    width: 550px;
    height: 300px;
}
.Topphoto{
    display: inline;
    height:60px;
    border:1px;
    border-bottom-color:gainsboro;
    align-items: center;
   
}
h2{
    float:left;
    margin-left: 0.25cm;
    margin-right:auto;
}
h3{
    float:right;
    color:grey;
    
    margin-right:10px;
}
p{
    margin:4%;
    text-align:justify;
    margin-bottom: auto;
}