h1{
    font-family:"Cambria";
    text-align:center;
    border-bottom:1cm;
}
.Feed {
    display: flexbox;
    background-color:gainsboro;
    margin:0;
}
.Photo{
    Background-color:white;
    margin:auto;
    margin-top:20px;
    margin-bottom:20px;
    width:550px;
    height:470px;
    display: inlinr-block;
}
img{
    width: 550px;
    height: 300px;
}
.Topphoto{
    display:flex;
    height:60px;
    border:1px;
    border-bottom-color:gainsboro;
}
h2{
    float:left;
    margin-left: 0.25cm;
    margin-right:auto;
}
h3{
    float:right;
    color:grey;
    margin-left:10px;
    margin-right:10px;
    text-align: right;
}
p{
    margin:4%;
    text-align:justify;
    margin-bottom: auto;
}